.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-items-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 20px;
  }
  
  @media (max-width: 575px) {
    .header-container {
      padding: 15px;
    }
  }
  
  .logo-and-title-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .title {
    color: #12022f;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
  }
  
  .nav-items-list {
    display: flex;
    padding-left: 0px;
  }
  
  .link-item {
    list-style-type: none;
  }
  
  .route-link {
    color: #e7e1f4;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
  }

  .route-link:hover {
   background-color: white;
   color: black;
   border-radius: 10px;
   padding: 10px;
   padding-left: 0px;
   padding-right: 0px;
  }
  
  @media (max-width: 767px) {
    .route-link {
      margin-left: 10px;
    }
  }
  